<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <h1>
        <% if (locals.cityNameH1) {%>
            <%=locals.cityNameH1%>
        <%}else{%>
            Welcome! Enter a city name!
        <%}%>
    </h1>

    <% if (locals.key !== "yes"){ %>
    <form method="POST" class="separatorInput">
        <div>
            <label>City name:</label>
            <input placeholder="São Paulo" name="cityName">
        </div>
        <button class="thing1" formaction="/submit">Input</button>
    </form>
    <%}else{ %>
        <form method="GET">  
            <div class="thing">
                <button class="buttonToShow"formaction="/parameters"  name="button">Results!</button>  
            </div>  
        </form>
    
        <div class="container">
            <div id="willItRain" class="sizeCard">
                Weather: <%=locals.willItRain%>
            </div>
            <div id="intensity" class="sizeCard">
                State: <%=locals.intensity%>
            </div>
            <div id="tempMax" class="sizeCard">
                Higher Temperature: <%=locals.tempMax%>°C
            </div>
            <div id="tempMin" class="sizeCard">
                Lower Temperature: <%=locals.tempMin%>°C
            </div>   
            <div id="cloudPercentage" class="sizeCard">
                Cloudy: <%=locals.cloudPercentage%>%
            </div>                
        </div>    
        <form class="backToBegin" action="/">
            <div>
                <button class="thing2">Back</button>
            </div>
        </form>
    <%}%>
    
</body>
</html>